<launch>
  <!-- 
       Default GUI to true for local Gazebo client. Allows override 
       to set disable GUI for RoboMaker. See part0.launch. 
  -->
  <arg name="use_gui" default="true"/>

  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x0_pos" default="-1.5"/>
  <arg name="y0_pos" default="-1.5"/>
  <arg name="z0_pos" default="0.0"/>
  <arg name="x1_pos" default="-1.5"/>
  <arg name="y1_pos" default="1.5"/>
  <arg name="z1_pos" default="0.0"/>
  <arg name="x2_pos" default="1.5"/>
  <arg name="y2_pos" default="1.5"/>
  <arg name="z2_pos" default="0.0"/>
  <arg name="x3_pos" default="1.5"/>
  <arg name="y3_pos" default="-1.5"/>
  <arg name="z3_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find exercises)/Multirobot-Crossing/worlds/simple.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg use_gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


	<group ns ="r0">
	  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_0$(arg model) -x $(arg x0_pos) -y $(arg y0_pos) -z $(arg z0_pos) -Y 0.785 -param robot_description" />
	</group>
	<group ns ="r1">
	  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf_2"  args="-urdf -model turtlebot3_1$(arg model) -x $(arg x1_pos) -y $(arg y1_pos) -z $(arg z1_pos) -Y -0.785 -param robot_description" />
	</group>
	<group ns = "r2">
	  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf_3"  args="-urdf -model turtlebot3_2$(arg model) -x $(arg x2_pos) -y $(arg y2_pos) -z $(arg z2_pos) -Y -2.35 -param robot_description" />
	</group>
	<group ns = "r3">
	  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf_4"  args="-urdf -model turtlebot3_3$(arg model) -x $(arg x3_pos) -y $(arg y3_pos) -z $(arg z3_pos) -Y 2.35 -param robot_description" />
	</group>
</launch>
